body{
    justify-content: center;
    margin-top: 5vh;
}
.row1{
    display: inline-block;
    flex: 1;
    border: 2px solid black;
    width: 12vw;
    height: 6vh;
    font-size: 25px;
    text-align: center;
    font-style: bold;

}
.row2{
    display: inline-block;
    border: 2px solid black;
    width: 12vw;
    height: 7vh;
    font-size: 14px;
    text-align: center;
    margin-top: 0vh;

}
.row3{
    display: inline-block;
    border: 1px solid black;
    width: 15vw;
    height: 20vh;
    font-size: 14px;
    text-align: center;
    margin-top: 0vh; 
}